/* Estilos para pantallas móviles (ancho máximo 600px) */
@media only screen and (max-width: 600px) {
    h1 {
      font-size: 36px; /* Reducir tamaño del texto */
      letter-spacing: -1px;
    }
  
    h2 {
      font-size: 24px;
      letter-spacing: 5px;
    }
  
    h2.titulo {
      font-size: 28px;
      margin-top: 40px !important;
    }
  
    h2.oscuro {
      font-size: 26px;
      text-align: center; /* Centrar en pantallas pequeñas */
      margin-left: 0px;
      padding-top: 20px;
    }
  
    p.formu {
      font-size: 16px; /* Reducir tamaño de párrafos */
      width: 90%;
      margin: 0 auto 20px auto;
    }
  
    .card {
      flex-direction: column; /* Cambiar a una columna en pantallas móviles */
      margin: 10px auto;
      width: 100%;
    }
  
    .perfil {
      width: 120px;
      height: 120px;
    }
  
    footer p {
      font-size: 18px;
      text-align: center; /* Centrar el texto del footer */
      padding-right: 0;
    }
  
    .trabajos {
      margin-top: 600px;
    }
  
    .formulario {
      margin-top: 1500px;
    }
  
    /* Ajustes para menú de navegación en móviles */
    a.navbar-brand {
      font-size: 28px;
      height: auto;
    }
  
    a.nav-link {
      width: auto;
      font-size: 16px;
      text-align: center;
    }
  
    .experiencia {
      margin-top: 400px;
    }
  
    footer {
      margin-top: 2000px;
    }
  }
  .perfil {
    width: 136px;
    height: 136px;
    border-radius: 50%;
  }
  
  @media only screen and (max-width: 600px) {
    .perfil {
      width: 100px;
      height: 100px;
    }
  }
  
  img.logo {
    width: 100px;
    height: auto;
  }
  body {
    padding: 10px;
  }
  
  h1 {
    padding-bottom: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    body {
      padding: 5px;
    }
  
    h1 {
      padding-bottom: 5px;
    }
  
    .formulario, .experiencia {
      margin-top: 50px;
    }
  }
      